@media (max-width: 575.98px) { 
    .form {
       &__header {
            &__logo {
                width: 165px;
            }
       }
    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .form {
        left: 0;
        width: 100%;
        max-height: none;
        height: auto;
        padding: 5px 18px;
        transform: none;
        position: unset;
        box-shadow: none;
        flex: 1;

        .companies {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}


