@media only screen and (max-width: 991.98px) {
    .step-4 {

        &__form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                margin-top: none;
            }

            .info__container {
                margin-top: 30px;
                gap: 0;
            }

            .container {
                gap: 0;
                
            }
        }
    }
}