.footer {
  width: 100%;
  background-color: $secondary-color;

  .wrapper {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 0 auto; // Center the content
    gap: 10px;


    .footer__logo {
      height: 27px;
      width: 200px;
      overflow: hidden;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }


    .footer__copyright {
      font-family: $main-font;
      font-size: $font-size-small;
      font-weight: $font-weight-medium;
      color: #ffffff;
      padding-bottom: 2px;
    }
  }
}