

.main {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    background: url('../img/background_image.png');
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 70%; /* Adjust this value to control the width of the gradient overlay */
        background: linear-gradient(to right, transparent 0%, white 100%);
        z-index: 0;
    }

}

