.step-6 {
    display: none;
    flex-direction: column;
    flex-grow: 1;

    p {
        font-size: $font-size-large;
        font-weight: $font-weight-semibold;
        opacity: $text-opacity;
        color: $text-color;
        line-height: 20px;
        text-align: center;
    }

    &__final-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;

        h2 {
            font-size: 24px;
            font-weight: $font-weight-semibold;
            text-align: center;
            margin: 0;
            margin-top: 30px;
        }
    }

    &__cta-button {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        
        p {
            margin: 0;
            opacity: $text-opacity;
            font-size: $font-size-large;
            font-weight: $font-weight-semibold;
            color: $text-color;
        }

        button {
            margin: 0;

            a {
                color: #ffffff;
                width: 100%;
                font-size: $font-size-extra-large;
            }
        }
    }
}