.step-1 {
    display: none;
    flex-direction: column;
    flex-grow: 1;

    .disclaimer {
        color: $text-color;
        font-weight: $font-weight-medium;

        p {
            margin: 0;
            margin-top: 15px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 0px;

        h2 {
            font-size: $font-size-extra-large;
            font-weight: $font-weight-medium;
            margin: 0;
            margin-top: 14px;

            &::after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background-color: #d9d9d9;
                margin-top: 15px;
            }
        }

        &.container {
            width: 100%;
            .choise-buttons {
                display: flex;
                justify-content: center;
                padding: 0;
                margin: 0;

                .button {
                    flex: 1;
                    cursor: pointer;
                    border: 0.1px solid #afc1c9;
                    background-color: transparent;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    position: relative;

                    p {
                        font-size: $font-size-large;
                        font-weight: $font-weight-medium;
                        color: $text-color;
                    }

                    svg {
                        position: absolute;
                        left: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &:first-child {
                        border-right: none;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        
                        &.selected,
                        &:hover {
                            border-right: 1px solid $primary-color;

                            +button {
                                border-left: none;
                            }
                        }
                    }

                    &:last-child {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;

                        p {
                            margin-left: 25px;
                        }
                    }

                    &.selected,
                    &:hover {
                        border: 1px solid $primary-color;

                        p {
                            color: $primary-color;
                        }

                        svg {
                            path {
                                fill: $primary-color;
                            }
                        }
                    }
                }
            }
        }

        &__description {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
            justify-content: space-between;

            .rating-stars {
                display: flex;
                width: 100px;
                justify-content: space-between;
                align-items: center;
            }

            p {
                font-size: $font-size-large;
                font-weight: $font-weight-medium;
                opacity: $text-opacity;
                margin: 0;
            }

        }

        &__submit {
            button.submit {
                margin-bottom: unset;
            }
        }

    }

}