.step-5 {
    display: none;
    flex-direction: column;
    flex-grow: 1;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: auto;

        h2 {
            text-align: center;
            color: $text-color;

            a {
                color: $text-color;
            }
        }

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .otp-input {
                width: 23%;
                height: 45px;
                text-align: center;
                font-weight: $font-weight-medium;
                padding: 0px;
                border: 0.1px solid #afc1c9;

                -moz-appearance: none;
                appearance: none;

                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

        }
    }
}