@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.main {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  background: url("../img/background_image.png");
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
}
.main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 70%; /* Adjust this value to control the width of the gradient overlay */
  background: linear-gradient(to right, transparent 0%, white 100%);
  z-index: 0;
}

.form {
  min-height: 600px;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 468px;
  background-color: #ffffff;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 27px;
  border-radius: 5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5%;
}
.form__header__logo {
  height: 27px;
  width: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.form__header__logo img {
  width: 100%;
}
.form__header__phone {
  color: #DC3545;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.form__header__phone::before {
  content: url("../icons/phone.svg");
  display: block;
  height: 24px;
  width: 24px;
}
.form .companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  margin-top: 10px;
}

.step-1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.step-1 .disclaimer {
  color: #263238;
  font-weight: 500;
  font-size: 15px;
}
.step-1 .disclaimer p {
  margin: 0;
  margin-top: 15px;
}
.step-1__form {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.step-1__form h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-top: 14px;
}
.step-1__form h2::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  margin-top: 15px;
}
.step-1__form.container {
  width: 100%;
}
.step-1__form.container .choise-buttons {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.step-1__form.container .choise-buttons .button {
  flex: 1;
  cursor: pointer;
  border: 0.1px solid #afc1c9;
  background-color: transparent;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.step-1__form.container .choise-buttons .button p {
  font-size: 15px;
  font-weight: 500;
  color: #263238;
}
.step-1__form.container .choise-buttons .button svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.step-1__form.container .choise-buttons .button:first-child {
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.step-1__form.container .choise-buttons .button:first-child.selected, .step-1__form.container .choise-buttons .button:first-child:hover {
  border-right: 1px solid #DC3545;
}
.step-1__form.container .choise-buttons .button:first-child.selected + button, .step-1__form.container .choise-buttons .button:first-child:hover + button {
  border-left: none;
}
.step-1__form.container .choise-buttons .button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.step-1__form.container .choise-buttons .button:last-child p {
  margin-left: 25px;
}
.step-1__form.container .choise-buttons .button.selected, .step-1__form.container .choise-buttons .button:hover {
  border: 1px solid #DC3545;
}
.step-1__form.container .choise-buttons .button.selected p, .step-1__form.container .choise-buttons .button:hover p {
  color: #DC3545;
}
.step-1__form.container .choise-buttons .button.selected svg path, .step-1__form.container .choise-buttons .button:hover svg path {
  fill: #DC3545;
}
.step-1__form__description {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-between;
}
.step-1__form__description .rating-stars {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}
.step-1__form__description p {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.5;
  margin: 0;
}
.step-1__form__submit button.submit {
  margin-bottom: unset;
}

.step-2 {
  display: none;
  flex-direction: column;
  flex-grow: 1;
}
.step-2 .disclaimer {
  display: none;
}
.step-2__form .info__container {
  margin-top: 20px;
}
.step-2__form .info__container .info {
  display: flex;
  justify-content: space-between;
}
.step-2__form .info__container .info__label {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.5;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.step-2__form .info__container .info__value {
  font-size: 15px;
  font-weight: 500;
}
.step-2__form .info__container::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  margin-top: 20px;
}
.step-2__form .container {
  display: flex;
  flex-direction: column;
}
.step-2__form .container .choise-buttons {
  display: flex;
  justify-content: center;
}
.step-2__form .container .choise-buttons .button {
  flex: 1;
  cursor: pointer;
  border: 0.1px solid #afc1c9;
  background-color: transparent;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.step-2__form .container .choise-buttons .button p {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  color: #263238;
}
.step-2__form .container .choise-buttons .button:not(:last-child) {
  border-right: none;
}
.step-2__form .container .choise-buttons .button:not(:last-child).selected, .step-2__form .container .choise-buttons .button:not(:last-child):hover {
  border-right: 1px solid #DC3545;
}
.step-2__form .container .choise-buttons .button:not(:last-child).selected + button, .step-2__form .container .choise-buttons .button:not(:last-child):hover + button {
  border-left: none;
}
.step-2__form .container .choise-buttons .button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.step-2__form .container .choise-buttons .button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.step-2__form .container .choise-buttons .button.selected, .step-2__form .container .choise-buttons .button:hover {
  border-color: #DC3545;
  border: 1px solid #DC3545;
}
.step-2__form .container .choise-buttons .button.selected p, .step-2__form .container .choise-buttons .button:hover p {
  color: #DC3545;
}
.step-2__form .container .choise-buttons .button.selected svg path, .step-2__form .container .choise-buttons .button:hover svg path {
  fill: #DC3545;
}
.step-2__form .container .choise-buttons .button.size {
  height: 100px;
  gap: 0;
  padding: 0;
  margin: 0;
}
.step-2__form .container .choise-buttons .button.size span {
  font-size: 32px;
  font-weight: 500;
  color: #263238;
}
.step-2__form .container .choise-buttons .button.size.selected span, .step-2__form .container .choise-buttons .button.size:hover span {
  color: #DC3545;
}

.loader__container {
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%);
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px auto;
  flex: 1;
}
.loader__container .loader {
  color: #000;
  font-size: 10px;
  margin: 50px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load4 1.3s infinite linear;
  transform: translateZ(0);
}
.loader__container .success {
  border-radius: 50%;
  display: none;
  height: 125px;
  width: 125px;
  background-color: #09BCBE;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.step-3 {
  display: none;
  flex-direction: column;
  flex: 1;
}
.step-3 .disclaimer {
  display: none;
}
.step-3__form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.step-3__form .info__container {
  margin-top: 20px;
}
.step-3__form .info__container .info {
  display: flex;
  justify-content: space-between;
}
.step-3__form .info__container .info__label {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.5;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.step-3__form .info__container .info__value {
  font-size: 15px;
  font-weight: 500;
}
.step-3__form .info__container::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  margin-top: 20px;
}

.step-4 {
  display: none;
  flex-direction: column;
  flex-grow: 1;
}
.step-4 .disclaimer {
  display: none;
}
.step-4__form {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.step-4__form .info__container {
  margin-top: 20px;
}
.step-4__form .info__container .info {
  display: flex;
  justify-content: space-between;
}
.step-4__form .info__container .info__label {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.5;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.step-4__form .info__container .info__value {
  font-size: 15px;
  font-weight: 500;
}
.step-4__form .info__container::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  margin-top: 20px;
}

.step-5 {
  display: none;
  flex-direction: column;
  flex-grow: 1;
}
.step-5__form {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: auto;
}
.step-5__form h2 {
  text-align: center;
  color: #263238;
}
.step-5__form h2 a {
  color: #263238;
}
.step-5__form .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.step-5__form .container .otp-input {
  width: 23%;
  height: 45px;
  text-align: center;
  font-weight: 500;
  padding: 0px;
  border: 0.1px solid #afc1c9;
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
}
.step-5__form .container .otp-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.step-5__form .container .otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.step-6 {
  display: none;
  flex-direction: column;
  flex-grow: 1;
}
.step-6 p {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.5;
  color: #263238;
  line-height: 20px;
  text-align: center;
}
.step-6__final {
  margin: auto;
}
.step-6__final-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.step-6__final-text h2 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}
.step-6__cta-button {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.step-6__cta-button p {
  margin: 0;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 500;
  color: #263238;
}
.step-6__cta-button button {
  margin: 0;
}
.step-6__cta-button button a {
  color: #ffffff;
  width: 100%;
  font-size: 20px;
}

.footer {
  width: 100%;
  background-color: #052b55;
}
.footer .wrapper {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  margin: 0 auto;
  gap: 10px;
}
.footer .wrapper .footer__logo {
  height: 27px;
  width: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.footer .wrapper .footer__logo img {
  width: 100%;
}
.footer .wrapper .footer__copyright {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 2px;
}

@media only screen and (max-width: 991.98px) {
  .main {
    background: none;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  .main .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .main .wrapper .copyright {
    width: 100%;
    padding: 10px;
  }
  .main::after {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .footer {
    padding: 0px;
  }
  .footer .wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .footer .wrapper .footer__logo {
    display: none;
  }
  .footer .wrapper .footer__copyright {
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  .form__header__logo {
    width: 165px;
  }
}
@media (max-width: 991.98px) {
  .form {
    left: 0;
    width: 100%;
    max-height: none;
    height: auto;
    padding: 5px 18px;
    transform: none;
    position: unset;
    box-shadow: none;
    flex: 1;
  }
  .form .companies {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 991.98px) {
  .step-1 {
    gap: 15;
    justify-content: unset;
  }
  .step-1 .disclaimer {
    display: none;
  }
  .step-1__form {
    gap: 15px;
  }
  .step-1__form h2 {
    margin-top: 20px;
  }
  .step-1__form h2::after {
    display: none;
  }
  .step-1__form h3 {
    margin-top: none;
  }
  .step-1__form .container {
    gap: 0;
  }
  .step-1__form .container .choise-buttons .button {
    height: 75px;
  }
  .step-1__form .container .choise-buttons .button p {
    font-size: 16px;
  }
  .step-1__form .container .choise-buttons .button svg {
    height: 30px;
  }
  .step-1__form .container .choise-buttons .button:first-child p {
    margin-left: 20px;
  }
  .step-1__form .container .choise-buttons .button:last-child p {
    margin-left: 41px;
  }
  .step-1__form__description .rating-stars {
    width: 93px;
  }
  .step-1__form__description .rating-stars img {
    width: 115px;
  }
  .step-1__form__description p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991.98px) {
  .step-2__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .step-2__form h3 {
    margin-top: none;
  }
  .step-2__form .info__container {
    margin-top: 20px;
    gap: 0;
  }
  .step-2__form .container {
    gap: 0;
  }
  .step-2__form .container .choise-buttons .button {
    height: 120px;
  }
  .step-2__form .container .choise-buttons .button p {
    font-size: 14px;
  }
  .step-2__form .container .choise-buttons .button.size {
    height: 100px;
  }
}
@media only screen and (max-width: 991.98px) {
  .step-4__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .step-4__form h3 {
    margin-top: none;
  }
  .step-4__form .info__container {
    margin-top: 20px;
    gap: 0;
  }
  .step-4__form .container {
    gap: 0;
  }
}
@media (max-width: 991.98px) {
  body,
  html {
    overflow: unset !important;
  }
  .wrapper {
    width: 100% !important;
  }
  .form .banner {
    display: block;
    height: 120px;
    width: calc(100% + 56px);
    margin: 10px -30px 0px -30px;
    background: url("../img/background_image_mobile_devices.png");
    background-size: cover;
    background-position: right;
    box-sizing: border-box;
    background-repeat: no-repeat;
  }
  .step-1 h3, .step-2 h3, .step-3 h3, .step-4 h3, .step-5 h3, .step-6 h3 {
    font-size: 16px;
  }
  .step-1 .input-error, .step-2 .input-error, .step-3 .input-error, .step-4 .input-error, .step-5 .input-error, .step-6 .input-error {
    font-size: 16px;
  }
  .step-1__form .info__container .info__label, .step-2__form .info__container .info__label, .step-3__form .info__container .info__label, .step-4__form .info__container .info__label, .step-5__form .info__container .info__label, .step-6__form .info__container .info__label {
    font-size: 16px;
  }
  .step-1__form .info__container .info__value, .step-2__form .info__container .info__value, .step-3__form .info__container .info__value, .step-4__form .info__container .info__value, .step-5__form .info__container .info__value, .step-6__form .info__container .info__value {
    font-size: 16px;
  }
  .step-1 .form-input::-moz-placeholder, .step-2 .form-input::-moz-placeholder, .step-3 .form-input::-moz-placeholder, .step-4 .form-input::-moz-placeholder, .step-5 .form-input::-moz-placeholder, .step-6 .form-input::-moz-placeholder {
    font-size: 16px;
  }
  .step-1 .form-input::placeholder, .step-2 .form-input::placeholder, .step-3 .form-input::placeholder, .step-4 .form-input::placeholder, .step-5 .form-input::placeholder, .step-6 .form-input::placeholder {
    font-size: 16px;
  }
  .step-6 p {
    font-size: 16px;
  }
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h3 {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.5;
  color: #263238;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.wrapper {
  max-width: 1800px;
  width: 90%;
  position: relative;
  margin: 0 auto;
  height: 100%;
  flex: 1;
}

.input-wrapper {
  position: relative;
}
.input-wrapper .input-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  background-color: #DC3545;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  height: 50px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.submit img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s, right 0.3s;
}
@media (min-width: 992px) {
  .submit:hover {
    background-color: #aa2a36;
  }
  .submit:hover img {
    opacity: 1;
    right: 15px;
  }
}

.form-input {
  width: 100%;
  border: 0.1px solid #afc1c9;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #263238;
}
.form-input::-moz-placeholder {
  opacity: 0.5;
  font-size: 15px;
}
.form-input::placeholder {
  opacity: 0.5;
  font-size: 15px;
}
.form-input:focus-visible {
  border: 1px solid #5e696e;
  outline: 0;
}

.wrong:focus-visible {
  border-color: #DC3545;
  outline: 0;
}

.input-error {
  text-align: right;
  color: #DC3545;
  font-weight: 500;
  font-size: 15px;
}

.iti--allow-dropdown {
  width: 100%;
}

.info__value:first-letter {
  text-transform: uppercase;
}

.step-4.iti__country-list {
  overflow-y: unset;
}/*# sourceMappingURL=style.css.map */