@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$main-font: 'Poppins', sans-serif;

$primary-color: #DC3545;
$secondary-color: #052b55;
$text-color: #263238;

$primary-color-hover: #aa2a36;

$font-size-extra-large: 20px;
$font-size-large: 16px;
$font-size-small: 14px;
$font-size-extra-small: 12px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$text-opacity: 0.5;
