@import 'blocks/main';
@import 'blocks/footer';
@import 'blocks/form';
@import 'blocks/step-1';
@import 'blocks/step-2';
@import 'blocks/step-4';


@media (max-width: 991.98px) {

    body,
    html {
        overflow: unset !important;
    }

    .wrapper {
        width: 100% !important;
    }

    .form .banner {
        display: block;
        height: 120px;
        width: calc(100% + 56px);
        margin: 10px -30px 0px -30px;
        background: url('../img/background_image_mobile_devices.png');
        background-size: cover;
        background-position: right;
        box-sizing: border-box;
        background-repeat: no-repeat;
    }
}