@import 'variables/variables';
@import 'blocks/main';
@import 'blocks/form';
@import 'blocks/step-1';
@import 'blocks/step-2';
@import 'blocks/loader';
@import 'blocks/step-3';
@import 'blocks/step-4';
@import 'blocks/step-5';
@import 'blocks/step-6';
@import 'blocks/footer.scss';
@import 'mediaqueries/mediaquery';

* {
    box-sizing: border-box;
    font-family: $main-font;
}


body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}


a {
    text-decoration: none;
    cursor: pointer;
}

h3 {
    font-size: 15px;
    font-weight: $font-weight-medium;
    opacity: $text-opacity;
    color: $text-color;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}


.wrapper {
    max-width: 1800px;
    width: 90%;
    position: relative;
    margin: 0 auto;
    height: 100%;
    flex: 1;
}

.input-wrapper {
    position: relative;

    .input-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.submit {
    background-color: $primary-color;
    border: none;
    font-size: $font-size-extra-large;
    font-weight: $font-weight-medium;
    color: #ffffff;
    height: 50px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
    position: relative;
    
    img {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.3s, right 0.3s;

    }

    &:hover {
        background-color: $primary-color-hover;

        img {
            opacity: 1;
            right: 15px;
        }
    }
}

.form-input {
    width: 100%;
    border: 0.1px solid #afc1c9;
    height: 50px;
    padding-left: 16px;
    font-size: $font-size-large;
    font-family: $main-font;
    font-weight: $font-weight-medium;
    color: $text-color;

    &::placeholder {
        opacity: $text-opacity;
        font-size: 15px;
    }

    &:focus-visible {
        border: 1px solid $primary-color;
        outline: 0;
    }
}

.input-error {
    text-align: right;
    color: $primary-color;
    font-weight: $font-weight-medium;
    font-size: 15px;
}


.iti--allow-dropdown {
    width: 100%;
}

.info__value {
    &:first-letter {
        text-transform: uppercase;
    }
}

.step-4.iti__country-list {
    overflow-y: unset;
}